<%= link_to("welcome") do %>
	<div class="header">
      	<h1><span>L</span>ist<span id="color"><span>U<span>p</span></h1>
	</div>
<% end %>

<div class="main">
	<div class="content">
		<p>Create lists, add tasks, organize and do much more</p>
		<%= link_to("signup") do %>
		<button>Sign up</button>
		<% end %> 
	</div>
</div>
