<div class="content-wrapper">
	<div class="content">
		<p>Hi, <%= @user.first_name %></p>
		<p>Thanks for signing up! You have successfully created an account with <%= @user.email %>. <br>Log in to discover and enjoy all what you can do with ListUp.</p> 
		<p id="signature">The ListUp team</p>
	</div>
</div>